@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <header>
        <nav>
            <div class="flex item-center justify-center py-4 border-b flex-wrap">
                <div class="mr-4 mb-3 sm:mb-0 sm:self-center">
                    <a href="/"><span class="font-bold text-white text-xl">TV Show Search</span></a>
                </div>
                <div>
                    <SearchBar @ref="_searchBar" Query="@Query" OnEnter="SearchForCurrentQuery" />
                </div>
            </div>
        </nav>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public string Query { get; set; } = string.Empty;

    private SearchBar? _searchBar;

    private void SearchForCurrentQuery() {
        if (_searchBar is null || string.IsNullOrWhiteSpace(_searchBar.Query)) return;
        NavigationManager.NavigateTo($"/search/{_searchBar.Query}", forceLoad:true);
    }

}