@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <header>
        <nav class="flex justify-center sm:justify-start items-center my-12 mx-auto max-w-7xl px-12 xl:px-0 ">
            <div class="mr-4">
                <a href="/"><span class="font-bold text-white text-xl">TV Show Search</span></a>
            </div>
            <div>
                <SearchBar @ref="_searchBar" Query="@Query" OnEnter="SearchForCurrentQuery" />
            </div>
            <ul class="hidden sm:flex text-white items-center flex-1 justify-end cursor-pointer">
                <li><a href="/favorites">Favorites</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public string Query { get; set; } = string.Empty;

    private SearchBar? _searchBar;

    private void SearchForCurrentQuery() {
        if (_searchBar is null || string.IsNullOrWhiteSpace(_searchBar.Query)) return;
        NavigationManager.NavigateTo($"/search/{_searchBar.Query}", forceLoad:true);
    }

}
