@page "/favorites"
@using WebShowSearchApp.Services
@inject IFavoritesService FavoritesService
@inject IShowSearchService SearchService

<div class="mx-auto mt-3 max-w-7xl">

    <div class="mb-2">
        <h1 class="pl-2 text-white text-lg focus:outline-none">Favorites</h1>
    </div>
    <div class="mb-2">
        <span class="pl-2 text-slate-400 text-sm">@_shows.Count Favorites</span>
    </div>

    @if (_shows.Any()) {

        <div class="container flex items-center flex-wrap gap-5 justify-center">
            @foreach (var show in _shows) {
                <SearchResult Show=show></SearchResult>
            }
        </div>

    }

</div>

@code {

    private IReadOnlyCollection<Show> _shows = new List<Show>();

    protected override async Task OnInitializedAsync() {

        var showIds = FavoritesService.GetFavorites();

        var shows = new List<Show>();
        foreach (var id in showIds) {
            var response = await SearchService.GetShowDetailsById(new(id));
            response.Match(
                result => shows.Add(result.Show),
                error => Console.WriteLine(error)
            );
        }

        _shows = shows;

    }

}
