@page "/"
@layout HomeLayout
@inject NavigationManager NavigationManager

<PageTitle>TV Show Search</PageTitle>

<div class="space-y-10 lg:mt-56 md:mt-32 mt-16">
    
    <div class="w-fit mx-auto">
        <span class="font-bold text-white text-4xl">TV Show Search</span>
    </div>

    <div class="w-fit mx-auto">
        <SearchBar @ref="_searchBar" OnEnter="SearchForCurrentQuery" />
    </div>

    <div class="w-fit mx-auto">
        <button @onclick="SearchForCurrentQuery"
                class="border border-transparent bg-slate-700 rounded-md p-2
                        hover:bg-slate-600 hover:border-slate-600 hover:shadow-md hover:shadow-slate-700
                        disabled:text-slate-700">
            <span class=" text-white font-semibold ">
                Search for Shows
            </span>
        </button>
    </div>

</div>

@code {

    private SearchBar? _searchBar;

    private void SearchForCurrentQuery() {
        if (_searchBar is null || string.IsNullOrWhiteSpace(_searchBar.Query)) return;
        NavigationManager.NavigateTo($"/search/{_searchBar.Query}");
    }

}
